<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title></title>
</head>
<body>
<div class="container-fluid mt-5 mb-5" style="width: 720px; margin-left:auto; margin-right:auto;">
	{% if messages %}
		{% for message in messages  %}
			<div class="alert alert-{{message.tags}} mb-5" role="alert">
				{{message}}
			</div>
		{% endfor %}
	{% endif %}
{% block content %}
	
{% endblock content %}
</div>
</body>
</html>